name: varietas
description: Varietas - Hire any worker anytime
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
